@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
    --primary-color: #007AF3;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.success {
    color: #4caf50;
    font-size: 0.9rem;
}
.success a {
    color : black;
}
.error {
    color: red;
    font-size: 0.9rem;
}

.error a {
    color : black;
}
/*navbar Top  starts*/
.navbar-top {
    background: white;
    padding: 0.3rem;
}

.navbar-top .navbar{
    display: none;
}

.navbar-top .mobile-search {
    display: none;
}

.navbar-top .container {
    display: flex;
    place-content: space-between;
}

.navbar-top .logo {
    width : 50px;
    height : 50px;
}

.navbar-top .mobile-menu {
    cursor: pointer;
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

.navbar-top .navbar {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: #20272E;
    height: 100vh;
    padding: 1em;
}
/*navbar Top  ends*/


/*navbar menu Top  ends*/
.navbar-menu {
    background: #333;

    color: #ffff;
}

.navbar-menu .navbar-menu-items {
    display: none;
}

.navbar-menu .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
}

/*navbar menu ends*/

a {
    color: #ffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1.3em;
    text-align: right;
}

nav li a:hover {
    font-weight: bold;
}

/*search input starts*/
/*mobile input starts*/
.mobile-search {
    margin:auto;
    max-width: 300px;
    width: 100%;
    position: relative;
    display: flex;
}

.mobile-search .searchTerm {
    width: 65%;
    top : 5px;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.mobile-search .searchTerm:focus{
    color: #00B4CC;
}

.mobile-search .searchButton {
    width: 50px;
    height: 31px;
    margin-left: -4px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    padding-bottom: 3px;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
}
/*search input ends*/

.search {
    margin:auto;
    max-width:400px;
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
/*search input ends*/

.btn-course {
    margin-top : 20px;
    padding: 10px 12px;
    background : #00B4CC;
    color: #fff;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
}
.btn-add-course {
    margin-top : 20px;
    margin-left : 3px;
    padding: 10px 12px;
    text-decoration: none;
    background : #E6E6FA;
    color: black;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
}
/*course list starts*/
.course-list {
    margin-top : 30px;
}

.course-list .item img {
    width: 100%;
    height: 25vh;
    border-bottom: 2px solid #a19898;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.course-list .grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto;
}

.course-list .item {
    background: #F2F2F2;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 40vh;

}

.course-list .item p {
    text-align: center;
    margin : 3px 0;
}

.course-list .item .btn-view {
    color: #ffff;
    padding: 1.5em;
    font-size: 0.8em;
    text-align: center;
    border-top : 2px solid #a19898;
}

.course-list .item .btn-view a {
    color: #ffff;
    text-decoration: none;
    background: #8A2BE2;
    padding : 3px;
}

.btn-groups {
    width : 50%;
    margin : auto;
    margin-top : 40px;
}

.btn-groups .grid-container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto auto auto;
}

.btn-groups a {
    padding : 10px 15px 10px 15px;
    text-decoration: none;
    background: #E6E6FA;
    border : none;
    color : black;
    font-size: 0.8rem;
    cursor: pointer;
    text-transform: uppercase;
}

/*add course*/
.add-course{
    margin-top : 15px;
}

.add-course .grid-container{
    display: grid;
    grid-gap: 0;
    grid-template-columns: 200px 70%;
}

.add-course h4 {
    text-align: center;
    background: #F08080;
    width: 25%;
    margin : auto;
    margin-bottom: 20px;
}

.add-course #btn-h1 {
    margin-top : 0;
}
.add-course #form-item {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.add-course #form-item input[type=text], textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.add-course #form-item label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.add-course #form-item input[type=submit] {
    background : #3f51b5;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.add-course #form-item a {
    background-color: #f2f2f2;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.add-course #form-item .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.add-course #form-item .col-75 {
    float: left;
    width: 73%;
    margin-top: 6px;
}

.add-course #form-item .row:after {
    content: "";
    display: table;
    clear: both;
}

/*view course*/
.view-course {
    padding : 20px;
    border : 1px solid #E6E6FA;
    margin-top : 20px;
}

.view-course .grid-container{
    display: grid;
    grid-gap: 0;
    grid-template-columns: 250px 190px auto;
}
.view-course img {
    width : 200px;
    height: 20vh;
}
.view-course .stars {
    display: flex;
    justify-content: space-between;

}
.view-course .stars i {
    font-size: 1.5rem;
}

.view-course .cou-name {
    width : 50%;
    margin: auto;
    margin-top : 15px;

}

.view-course .btn-star {
    width : 70%;
    margin: auto;
}

.view-course .btn-star button {
    margin-top : 25px;
    padding: 13px 30px;
    background : #00B4CC;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.btn-back {
    margin-top : 20px;
}

.btn-back a {
    background : #E6E6FA;
    color: black;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}


.view-course .dot {
    height: 80px;
    width: 80px;
    border : 1px solid black;
    border-radius: 50%;
    display: inline-block;
    text-align : center;
    margin-left: 80px;
}

.view-course  p {
    margin-top : 25px;
}

.view-course #v-footer {
    margin-top : 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.view-course #v-footer #m-name-1 {
    margin-left : 150px;
}

.view-course #v-footer #m-name-2 {
    margin-left : 20px;
}

.view-course #v-footer #m-name-3 {
    margin-left : -140px;
}

.modules {
    margin-top : 25px;
}
.modules .grid-container {
    display: flex;
    margin-top : 15px;
    padding : 10px 0 0 20px;
    border : 1px solid #E6E6FA;
   justify-content: space-between;
}
.modules .grid-container img {
    margin-top: 5px;
    height: 20px;
    border : 1px solid #E6E6FA;
}
.modules button {
    background: #F08080;
    padding : 5px;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
.modules .module {

    margin-bottom: 10px;
}

.modules .module:nth-child(even) {
    margin-top : 10px;
}

.modules a {
    color: black;
    text-decoration: none;
}
/*footer starts*/
.footer {
    margin-top : 100px;
    padding-top : 20px;
    background: #F2F2F2;
}

footer li {
    padding : 10px
}

footer span {
    margin-left: 10px;
    font-weight: bold;
}
footer li a{
    color: black;
    text-decoration: none;

}
footer .footer-logo {
    width : 100px;
    height : 100px;
}
.footer .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
/*footer starts*/


/*mobile media query*/
@media screen and (max-width: 600px) {
    .navbar-top .mobile-search {
        display: block;
    }

    .navbar-menu {
        display: none;
    }

    .footer .item4 {
        display: none;
    }

    .course-list {
        margin-top : 15px;
    }

    .course-list .grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto auto;
    }

    .course-list .grid-container .item {
       margin-top : 20px;
    }


    .container {
        margin: 0 10px;
    }

    .add-course .grid-container{
        display: grid;
        grid-gap: 0;
        grid-template-columns: auto;
    }
    .add-course h4 {
        width : 60%;
    }

    .add-course #btn-h1 {
        display: none;
    }

    .add-course #form-item .col-25{
        width: 100%;
        margin-top: 0;
    }

    .add-course #form-item .col-75 {
        width: 95%;
        margin-top: 0;
    }

    .view-course .grid-container{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 200px;
    }


    .view-course #c-circle{
        width : 100%;
        margin-top : 10px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto auto auto;

    }

    .view-course .dot {
        height: 50px;
        width: 50px;
        border : 1px solid black;
        border-radius: 50%;
        margin-left: 10px;
    }

    .view-course  p {
        margin-top : 10px;
    }

    .view-course .btn-star button {
        margin-top : 30px;
    }

    .view-course #v-footer {
        margin-top : 20px;
        display: grid;
        grid-template-columns: 50px 50px 50px;
    }

    .view-course #v-footer #m-name-1 {
        margin-left : 10px;
    }

    .view-course #v-footer #m-name-2 {
        margin-left : 130px;
    }

}

@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .navbar-top .navbar {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }

    .navbar-menu .navbar-menu-items {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding : 0;
    }

    .navbar-menu .navbar-menu-items ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


    .navbar-menu .navbar-menu-items a {
        color: #ffff;
        font-size: 1em;
        padding: 10px 12px;
    }
    .navbar-menu .navbar-menu-items ul.primary-nav {
        margin: 0;
    }

    .navbar-menu .navbar-menu-items li.current a {
        background : #00B4CC;
        color: #fff
    }

    .navbar-menu .navbar-menu-items li.go-premium-cta a {
        border: 3px solid  #ffff;;
        font-weight: bold;
        border-radius: 5em;
        margin-top: -.2em;
    }

    .navbar-menu .navbar-menu-items li.go-premium-cta a:hover {
        color: white;
    }

}

@media only screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }
}


